{% extends "layout.html" %}
{% block title %}
App
{% endblock %}
{% block content %}

<div class="title">
    <h1 class="project_title"> App projects</h1>
    <div class="title-underline"></div>
</div>
<div class="center">


    <a href="" class="project-link" target="_blank">
        <article class="project">
            <picture>
                <img src="https://via.placeholder.com/300" alt="" loading="lazy">
            </picture>
            <div class="project-footer">
                <h2>FOR EXAMPLE</h2>
            </div>
        </article>
    </a>

    <a href="" class="project-link" target="_blank">
        <article class="project">
            <picture>
                <img src="https://via.placeholder.com/300" alt="" loading="lazy">
            </picture>
            <div class="project-footer">
                <h2>FOR EXAMPLE</h2>
            </div>
        </article>
    </a>

    <a href="" class="project-link" target="_blank">
        <article class="project">
            <picture>
                <img src="https://via.placeholder.com/300" alt="" loading="lazy">
            </picture>
            <div class="project-footer">
                <h2>FOR EXAMPLE</h2>
            </div>
        </article>
    </a>

    <a href="" class="project-link" target="_blank">
        <article class="project">
            <picture>
                <img src="https://via.placeholder.com/300" alt="" loading="lazy">
            </picture>
            <div class="project-footer">
                <h2>FOR EXAMPLE</h2>
            </div>
        </article>
    </a>

    <a href="" class="project-link" target="_blank">
        <article class="project">
            <picture>
                <img src="https://via.placeholder.com/300" alt="" loading="lazy">
            </picture>
            <div class="project-footer">
                <h2>FOR EXAMPLE</h2>
            </div>
        </article>
    </a>

    <a href="" class="project-link" target="_blank">
        <article class="project">
            <picture>
                <img src="https://via.placeholder.com/300" alt="" loading="lazy">
            </picture>
            <div class="project-footer">
                <h2>FOR EXAMPLE</h2>
            </div>
        </article>
    </a>

    <a href="" class="project-link" target="_blank">
        <article class="project">
            <picture>
                <img src="https://via.placeholder.com/300" alt="" loading="lazy">
            </picture>
            <div class="project-footer">
                <h2>FOR EXAMPLE</h2>
            </div>
        </article>
    </a>

</div>


{% endblock content %}