{% extends "layout.html" %}
{% block title %}
Mana Lapa
{% endblock %}
{% block content %}
<section class="home">
    <div class="home__container">
        <div class="home__data">
            <span class="home__greeting">Sveiki, mani sauc</span>
            <h1 class="home__name">Arturs Bondarenko</h1>
            <span class="home__description">JK students</span>
        </div>
        <div class="home__social">
            <a href="https://github.com/arthurBondarenko/" target="_blank" class="home__social-icon"> <i
                    class="fab fa-github"></i></a>
            <a href="https://www.instagram.com/p_u_s_s_y_k_i_n_g_6_9/" target="_blank" class="home__social-icon"> <i
                    class="fab fa-instagram"></i></a>
            <a href="https://www.facebook.com/profile.php?id=100002494646532" target="_blank" class="home__social-icon">
                <i class="fab fa-facebook"></i></a>
        </div>
        <div class="home__img">
            <img src="static/css/img/me.jpg" alt="me">
        </div>

    </div>
</section>

{% endblock content %}